{% extends "base.html" %}
{% block title %}Create New Repo{% endblock %}

{% block content%}
<div class="card">
    <div class="card-body">
        <form action="#" method="POST">
            <label for="fname">Domain name:</label> 
            <input type="text" id="dname" name="dname"> 
            <!-- <label for="fname">Category:</label> 
            <input type="text" id="cname" name="cname"> -->
            <input type="submit" value="Submit">
        </form>      
    </div>
  </div>

{% endblock%}